<header class="dateReplyBar">
  Posted: {{format-date listing.date}}
</header>

<h2 class="postingtitle">{{listing.title}}</h2> <span>({{listing.location}})</span>

<section class="userbody">{{listing.body}}</section>
<div>post id: {{listing.id}} posted: {{format-date listing.date}}</div>
