<div class="posting">
  <form>
    <div class="form-group">
      <label for="type">type</label>
      {{input value=type id="type"}}

      <label for="category">category</label>
      {{input value=category id="category"}}

      <label for="location">location</label>
      {{input value=location id="location"}}

    <hr>

      <label for="contactPhone">phone number</label>
      {{input value=contactPhone id="contactPhone"}}

      <label for="contactName">contact name</label>
      {{input value=contactName id="contactName"}}
    </div>

    <hr>

    <div class="form-group required">
      <label for="title">posting title</label>
      {{input value=title id="title"}}
    </div>

    <div class="form-group">
      <label for="specificLocation">specific location</label>
      {{input value=specificLocation id="specificLocation"}}
    </div>

    <div class="form-group required">
      <label for="zip">postal code</label>
      {{input type="number" max="99999" value=zip id="zip"}}
    </div>

    <div class="form-group required">
      <label for="body">posting body</label>
      {{textarea value=body id="body" cols="94" rows="12"}}

    </div>

    <button {{action 'save'}}>publish</button>
  </form>
</div>
